.navbar>ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    text-decoration: none;
    list-style: none;
    color: #151515;
    font-size: 20px;
}

.active{
    background: teal;
    color: #fff;
}
